@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1> Movie Registration
</h1>
    Please click <a asp-action="Registration" asp-controller="Home">here</a> to register a movie to the Movie List Database.
</div>
