<h2>Movie Registration From</h2>

<form action="Results" method="post">
    <p>Title<br />
        <input type="text" name="Title" maxlength="25" required/>
    </p>
    <p>
        Genre<br />
        <input type="text" name="Genre" maxlength="20"/>
    </p>
    <p>
        Year<br />
        <input type="number" name="Year" minlength="4" maxlength="4"/>
    </p>
    <p>
        Runtime<br />
        <input type="number" name="Runtime" /><br />
    </p><br />
    <input type="submit" />

</form>